body {
    background: #E5E5E5;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 600px;
    margin: 50px auto;
    width: 1140px;
}

.container__item {
    /* width: 20%; */
    width: 300px;
    /*border: 1px solid;*/
}

.container__item__block {
    margin-top: -20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    height: 400px;
    background-color: #ffffff;
    position: relative;
    z-index: 10;
}

.container__item__block__top {
    margin-top: -190px;
    height: 550px;
}

.search__block {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.location {
    color: #9e9e9e;
    text-align: center;
    padding-top: 20px;
}

.searchInput {
    background: #e6e6e6;
    border: none;
    height: 25px;
    border-radius: 3px;
    width: 80%;
}

input:focus {
    outline: none;
}

.searchIcon {
    font-size: 25px;
    cursor: pointer;
}
.scroll__block{
    overflow: auto;
    height: 83%;
}
.img {
    width: 100%;
    height: 250px;
}

.cityes__block {
    /* transition: 0.3s; */
}
.cityes__block :hover{
    /* background-color: #ECF7FD; */
    /* transition: 0.3; */
}

.cityes__block .cityes__by__home {
    width: 82%;
    border-radius: 3px;
    margin-left: 6px;
    position: relative;
    height: 30px;
    margin-top: 5px;
    display: flex;
    align-items: center;
}
.degree{
    float: right;
}
.cityes__by__home:hover{
    background: #ECF7FD;
}
.cityes__block .cityes__name__by__home {
    cursor: pointer;
    color: #444444;
    position: absolute;
    left: 30px;
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    height: 30px;
}
.cityes__block .cityes__name__by__home p{
    cursor: pointer;
    color: #444444;
}
.degree{
    display: flex;
    align-items: center;
}
.degreeCelsius{
    font-size: 35px;
    margin-left: -7px;
    margin-top: 11px;
}
.delete__block{
    width: 20px;
    background: yellow;
}

.cityes__block .delete__city {
    font-size: 20px;
    color: #444444;
    cursor: pointer;
    transition: 0.3s;
    position: absolute;
}
.cityes__block .delete__city :hover {
    transition: 0.3s;
    color: #000;
}

.error {
    color: red;
    font-size: 16px;
    margin-left: 10px;
    height: 20px;
}


.location__block {
    width: 100%;
    display: flex;
    background: transparent;
}

.location__block__date {
    width: 60%;
    display: flex;
    align-items: center;
}

.location__block__time {
    color: grey;
    font-size: 10px;
    padding-left: 20px;
}

.location__block__city {
    width: 40%;
    display: flex;
    background: #ECF7FD;
    padding-left: 20px;
    border-bottom-left-radius: 20px;
    align-items: center;
    border-top-right-radius: 20px;
}

.location__block__city .location__block__city__name {
    font-size: 16px;
    color: #44B6EF;
    font-weight: 500;
}

.location__block__city .location__block__city__icon {
    font-size: 16px;
    color: #44B6EF;
}

.temp__block {
    display: flex;
    justify-content: space-around;
}

.sunny__block {
    width: 30%;
    text-align: center;
}

.sunny__block .sunny__icon {
    font-size: 50px;
    color: #CAC9C9;
}

.sunny__block .sunny__desc {
    text-transform: capitalize;
    margin-top: -25px;
    font-size: 18px;
}

.celsius__block {
    width: 30%;
    text-align: center;
    display: flex;
    align-items: baseline;
}

.celsius__block .celsius__now {
    font-size: 50px;
    margin: 0;
    font-weight: 400;
    font-family: inherit;
}

.celsius__block .celsius__icon {
    font-size: 50px;
    margin-left: -13px;
}

.min__max__celsius__block {
    width: 30%;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.min__max__celsius__block .max__celsius__block {
    display: flex;
    justify-content: center;
    margin-bottom: -10px;
}

.min__max__celsius__block .max__celsius__block .max__temp {
    margin: 0;
    color: grey;
    font-size: 13px;
    font-family: inherit;
}

.min__max__celsius__block .min__celsius__block {
    display: flex;
    justify-content: center;
}

.min__max__celsius__block .min__celsius__block .min__temp {
    margin: 0;
    color: grey;
    font-size: 13px;
    font-family: inherit;
}

.mini__celsius__icon {
    font-size: 30px;
    /*margin: 0;*/
    /*margin-left: -10px;*/
    /*margin-right: -10px;*/
    /*margin-top: -8px;*/
    margin: -8px -10px 0;
    color: #AAAAAA;
}

.mini__celsius__arrow__up {
    font-size: 7px;
    margin-left: 0;
    color: grey;
    margin-top: 2px;
}

.mini__celsius__arrow__down {
    font-size: 7px;
    margin-left: 0;
    color: grey;
    /* margin-top: 0; */
}

.bar__block {
    display: flex;
    justify-content: space-around;
}

.components__block {
    width: 30%;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.components__block .blocks__icon {
    font-size: 32px;
    color: #CAC9C9;
}

.components__block .blocks__num {
    font-size: 14px;
    color: #5B5B5B;
    font-weight: 500;
}

.components__block .blocks__desc {
    font-size: 8px;
    color: #AAAAAA;
}

.daytime__block {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
